
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}


@{ Html.RenderPartial("_SysDatePartial");}
@{ Html.RenderPartial("_SysDatePartial");}
@{ Html.RenderPartial("_SysDatePartial");}
<table class="table table-bordered table-striped">
    <tr>
        <td>aa</td>
        <td>bb</td>
        <td>cc</td>
    </tr>
    <tr>
        <td>dd</td>
        <td>ee</td>
        <td>ff</td>
    </tr>
</table>
@{ Html.RenderPartial("_SysDatePartial");}

@{ Html.RenderAction("","");}